@model IEnumerable<Usermvc.ViewModels.vwUSER>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateUser")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>            
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id=item.id }) |
                @Html.ActionLink("Details", "UserDetail", new { id=item.id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
